.card__purchase-item {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.card__purchase-name {
  font-size: .9rem;
  width: 60%;
}

.card__purchase-quantity {
  display: flex;
  justify-content: center;
  border: 1px solid #aaac;
  width: 15%;
  color: black;
}

.card__purchase-price {
  display: flex;
  justify-content: end;
  width: 25%;
}

.card__purchase-price::before {
  content: '$';
  display: flex;
  justify-content: end;
  width: 25%;
}
