:root {
  --primary-color: blueviolet;
  --bottom-color-hover: #d400d4;
  --title-cards: #515151; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

p {
  color: #515151;;
}
